body {
  margin: 0;
  box-sizing: border-box;
  background: #d7dbff;
  opacity: 0.65;
  height: 100vh;
  overflow: auto;
  font-family: "Oxygen", sans-serif;
}
body .app-container {
  height: 100%;
  display: flex;
  justify-content: center;
}
body .budget-container {
  background: #f1f2f6;
  padding: 10px 0 25px 0;
  margin: auto 0;
  width: 100%;
  text-align: center;
}
body input {
  padding: 10px 5px;
  font-size: 18px;
  font-family: "Oxygen", sans-serif;
}
body .btn {
  display: block;
  cursor: pointer;
  margin: 10px auto;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  padding: 10px 5px;
  border-radius: 3px;
  border: 1px solid slategrey;
}
