$body-bg-color: #ede7d9;
$font-family: 'Dosis', sans-serif;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: $body-bg-color;
}

body {
	text-align: center;
	font-family: $font-family;
}

input,
select {
	width: 150px;
	height: 30px;
	font-size: 20px;
	margin: 5px auto;
	font-family: $font-family;
	border-radius: 6px;
}

select {
	width: 250px;
}

button {
	width: 300px;
	height: 40px;
	font-size: 20px;
	font-family: $font-family;
	background: #6d5a72;
	border-radius: 6px;
	color: #fffff2;
	cursor: pointer;
}

.currency-container {
	//border: 3px solid #b9cfd4;
	background: #cee0dc;
	padding: 15px 0;
	border-radius: 6px;
	width: 100%;
	//max-width: 800px;
	margin: auto auto;
}
