@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Josefin+Sans:wght@500&display=swap");

/*

PART 1:

You've been ordered to improve your company's newsletter form. 
You can design it however you want, but the manager wants the button to
animate both on the :hover and the :active state.

1. Redesign the page (e.g. colors, positions, sizing, spacing)
2. Improve the button's hover effect
3. Improve thee button's click effect

SKILLS:
color, background, margin, padding, border-radius, 
CSS pseudo selectors (:active, :hover), transform
*/
html {
  font-size: 14px;
}

body {
  margin: 0;
  background: #ccc;
}

form {
  width: 70%;
  height: 50vh;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

h3 {
  color: green;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  position: relative;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 0;
    bottom: -5px;
    border-radius: 2px;
    background-color: black;
    transform: translate(50%, 50%);
  }
}

input {
  border-radius: 6px;
  width: 50%;
  min-width: 280px;
  margin: 2rem 0;
  padding: 1rem 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
}

.form-feedback {
  min-height: 30px;
  margin-top: 15px;
  width: 50%;
  font-size: 1.2rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  transition: all 0.5s ease;
}

.animated-feedback {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    font-size: x-large;
}

button {
  display: block;
  overflow: hidden;
  border-radius: 6px;
  background-color: transparent;
  font-size: 15px;
  padding: 1rem;
  color: #111;
  cursor: pointer;
  transition: transform 1s ease;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid #000;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

  span {
    z-index: 15;
  }

  &:after {
    background: #111;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

button:hover {
  transform: scale(1.1);
  &:after {
    left: 120%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

button:active {
  transform: scale(1.1);
  color: #fff;
  background-color: #111;
}

button:focus {
  transform: scale(1.1);
  outline: none;
}

.d-flex-justify-c-align-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-1 22:56:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  