html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: grey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.movie-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  place-items: center;
  padding-bottom: 15px;
}
.movie-tiles .card {
  perspective: 1000px;
  width: 300px;
  height: 505px;
  cursor: pointer;
  margin-bottom: 15px;
}
.movie-tiles .card:hover .movie-tile {
  transform: rotateY(180deg);
}
.movie-tiles .card .movie-tile {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s ease;
  width: 100%;
  height: 100%;
}
.movie-tiles .card .movie-tile .movie-tile-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d7e3fc;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.movie-tiles .card .movie-tile .movie-tile-front .movie-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.movie-tiles .card .movie-tile .movie-tile-front .poster {
  max-height: 440px;
  border-radius: 5px 5px 0 0;
}
.movie-tiles .card .movie-tile .movie-tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d7e3fc;
  height: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #bcb8b1;
}
.movie-tiles .card .movie-tile .movie-tile-back .plot-text {
  font-size: 24px;
}
