@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

$font-body: 'Oxygen', sans-serif;
$text-color: #0096c7;
$btn-bg-color: #f2ff49;

body {
	box-sizing: border-box;
	margin: 0;
}

#app {
	text-align: center;
}

.text {
	font-size: 40px;
	padding: 1rem 1.5rem;
	font-family: $font-body;
	width: 50%;
    margin: 0 auto;

	@media screen and (max-width: 480px) {
		width: 90%;
	}
}

.btn {
	font-family: $font-body;
	padding: 0.5rem 1rem;
	font-size: 20px;
	color: $text-color;
	background-color: $btn-bg-color;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.food-image {
	display: block;
	max-height: 30rem;
	border-radius: 5px;
	margin: 2rem auto;
}

.food-name{
    font-size: 35px;
    color: $text-color;
    text-transform: capitalize;
}

