@use '_base.scss' as base;

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	@include base.linearGradient;
}

#rabbit {
	@include base.center-at-all-costs;
	height: inherit;
	.head {
		display: flex;
		position: relative;
		width: 15rem;
		height: 15rem;
		background-color: base.$pure-white;
		border-radius: 50% 80%;
		transform: rotate(315deg);
		transform-style: preserve-3d;
		box-shadow: 0px 7px base.$shade-of-pink;
		cursor: pointer;

		.unrotated {
			position: relative;
			transform: rotate(-315deg);
			width: 15rem;
			height: 15rem;
			transform-style: preserve-3d;
		}

		.ear {
			position: absolute;
			height: 11rem;
			width: 4rem;
			background-color: base.$pure-white;
			border-radius: 50%;
			top: -120px;

			.inner-ear {
				position: absolute;
				width: 3rem;
				height: 10rem;
				bottom: 0;
				left: 8px;
				border-radius: 50%;
				background-color: base.$shade-of-pink;
			}
		}

		.ear.left-ear {
			left: 0;
			transform: rotate(340deg) translateZ(-1px);
		}

		.ear.right-ear {
			right: 0;
			transform: rotate(20deg) translateZ(-1px);
		}

		.eye {
			position: absolute;
			width: 3.5rem;
			height: 3.5rem;

			background-color: base.$eye-bordered;
			//left: 50%;
			//top: 35%;
			//transform: translate(-50%, -35%);
			border: 0.5px solid base.$eye-border;

			.pupil {
				width: 85%;
				height: 80%;
				background-color: #000;
				border-radius: 50%;
				margin-top: 6px;
				margin-left: 4px;
			}

			.new-eye {
				cursor: pointer;
				box-sizing: border-box;
				width: 30%;
				height: 25%;
				background-color: #fff;
				border-radius: 50%;
				margin-top: -43px;
				margin-left: 5px;
			}

			.grey-arc {
				cursor: pointer;
				box-sizing: border-box;
				width: 40px;
				height: 20px;
				border: 15px solid #fffdfd59;
				margin-top: 15px;
				margin-left: 10px;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
				border-bottom: none;
				border-right: none;
			}
		}

		.eye.left-eye {
			left: 50px;
			top: 60px;
			transform: rotate(350deg);
			border-radius: 50% 55% 60% 50%;
			.pupil {
				margin-left: 3px;
			}
		}

		.eye.right-eye {
			right: 45px;
			top: 60px;
			transform: rotate(10deg);
			border-radius: 50% 50% 55% 60%;
			.pupil {
				margin-left: 4px;
			}
		}

		.nose {
			position: absolute;
			width: 1.5rem;
			height: 1.5rem;
			background-color: base.$pure-black;
			border-radius: 90% 40% 50% 40%;
			left: 50%;
			top: 55%;
			transform: translate(-50%, -50%) rotate(45deg);
			box-shadow: 4px 4px 1px rgb(68 68 68 / 20%);
		}

		.mouth {
			position: absolute;
			//background-color: base.$eye-border;
			top: 70%;
			left: 50%;
			width: 4.5rem;
			height: 1.5rem;
			transform: translate(-50%, -50%);

			.white-blocker {
				background-color: base.$pure-white;
				max-height: 15px;
				z-index: 5;
			}

			.tongue {
				z-index: -1;
				position: absolute;
				top: 110%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 30px;
				height: 20px;
				border-top: transparent;
				border: 1px solid base.$light-black;
				border-style: ridge;
				border-top: 0;
				border-bottom-left-radius: 50%;
				border-bottom-right-radius: 50%;
			}
		}

		&:hover {
			.left-ear {
				animation: ear-move-l 0.4s linear both;
				animation-iteration-count: 2;
			}

			.right-ear {
				animation: ear-move-r 0.4s linear both;
				animation-iteration-count: 2;
			}

			.tongue {
				//border: 25px;
				animation: tongue-move 0.3s linear 2 alternate forwards;
			}
		}
	}
}

@keyframes ear-move-l {
	0% {
		transform: translateZ(-1px) translateX(-2px) rotate(340deg);
	}

	25% {
		transform: translateZ(-1px) translateX(-4px) rotate(335deg);
	}

	50% {
		transform: translateZ(-1px) translateX(-2px) rotate(340deg);
	}

	75% {
		transform: translateZ(-1px) translateX(-4px) rotate(335deg);
	}

	100% {
		transform: translateZ(-1px) translateX(-2px) rotate(340deg);
	}
}

@keyframes ear-move-r {
	0% {
		transform: translateZ(-1px) translateX(2px) rotate(20deg);
	}

	25% {
		transform: translateZ(-1px) translateX(4px) rotate(25deg);
	}

	50% {
		transform: translateZ(-1px) translateX(2px) rotate(20deg);
	}

	75% {
		transform: translateZ(-1px) translateX(4px) rotate(25deg);
	}

	100% {
		transform: translateZ(-1px) translateX(2px) rotate(20deg);
	}
}

@keyframes tongue-move {
	from {
		top: 85%;
	}
	to {
		top: 100%;
	}
}
